<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>aimenu</title>
</head>
<body>
    <!-- 头部 -->
    <div class="topbar">
        <div class="aliyun-logo pull-left logo-box">
            <div class="aliyun-logo-wrapper pull-left">
                <a href="javaScript:" target="_blank" title="重庆轨道交通集团" class="aliyun-icon pull-left">
                    <span data-ico="logo"></span>
                </a>
                <a href="javaScript:" target="_self" class="console-link pull-left">
                    <span>管理控制台</span>
                </a>
            </div>
        </div>
        <div class="pull-right topbar-info clearfix">
            <!-- 站内消息 -->
            <div class="pull-left dropdown topbar-notice topbar-info-dropdown topbar-info-item message-box">
                <a href="javaScript:" class="topbar-btn topbar-btn-notice topbar-hover-dark">
                    <span data-ico="bell"></span>
                    <span class="topbar-btn-notice-num">28</span>
                </a>
                <div class="topbar-notice-panel topbar-info-dropdown-memu">
                    <div class="topbar-notice-arrow">
                    </div>
                    <div class="topbar-notice-head">
                        <span>站内消息通知</span>
                        <!-- <a href="javaScript:" class="pull-right" style="font-size: 13px; color: rgb(0, 193, 222);">消息接收管理</a> -->
                    </div>
                    <div>
                        <div class="topbar-notice-body">
                            <ul>
                                <li class="">
                                    <a href="javaScript:" target="_blank" class="clearfix">
                                        <span class="inline-block">
                                            <span class="topbar-notice-link">你有一条故障工单待处理！</span>
                                            <span class="topbar-notice-time">2017-08-23 11:43</span>
                                        </span>
                                    </a>
                                </li>
                                <li class="">
                                    <a href="javaScript:" target="_blank" class="clearfix">
                                        <span class="inline-block">
                                            <span class="topbar-notice-link">你有一条故障工单延时半天！</span>
                                            <span class="topbar-notice-time">2017-08-21 10:46</span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="topbar-notice-foot">
                            <a class="topbar-notice-more" target="_blank" href="javaScript:">查看更多</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 工单 -->
            <div class="pull-left topbar-info-item topbar-info-dropdown workorder-box">
                <a href="javaScript:" target="_blank" class="topbar-btn topbar-info-dropdown-toggle"><span>工单</span></a>
                <ul class="topbar-info-dropdown-memu topbar-info-dropdown-memu-list">
                    <li class="topbar-info-btn"><a href="javaScript:" target="_blank"><span>我的工单</span></a></li>
                    <li class="topbar-info-btn"><a href="javaScript:" target="_blank"><span>提交工单</span></a></li>
                </ul>
            </div>
            <!-- 技术支持 -->
            <div class="pull-left topbar-info-item topbar-info-dropdown support-box">
                <a href="javaScript:" target="_blank" class="topbar-btn topbar-info-dropdown-toggle"><span>支持</span></a>
                <ul class="topbar-info-dropdown-memu topbar-info-dropdown-memu-list">
                    <li class="topbar-info-btn"><a href="javaScript:" target="_blank"><span>帮助与文档</span></a></li>
                    <li class="topbar-info-btn"><a href="javaScript:" target="_blank"><span>提交建议</span></a></li>
                </ul>
            </div>
            <!-- 用户登录信息 -->
            <div class="pull-left topbar-user user-box">
                <div class="topbar-info-dropdown topbar-info-item">
                    <a href="javaScript:" target="_blank" class="topbar-info-dropdown-toggle topbar-btn"><span title="黄工">黄工</span></a>
                    <div class="topbar-info-dropdown-memu topbar-align-right">
                        <div class="topbar-user-entrance-list">
                            <a class="topbar-user-entrance" href="javaScript:" target="_target">
                                <span data-ico="film"></span>
                                <span>基本资料</span>
                            </a>
                            <a class="topbar-user-entrance" href="javaScript:" target="_target">
                                <span data-ico="dice"></span>
                                <span>实名认证</span>
                            </a>
                            <a class="topbar-user-entrance" href="javaScript:" target="_target">
                                <span data-ico="video-camera"></span>
                                <span>安全设置</span>
                            </a>
                            <a class="topbar-user-entrance" href="javaScript:" target="_target">
                                <span data-ico="pacman"></span>
                                <span>安全管控</span>
                            </a>
                            <a class="topbar-user-entrance" href="javaScript:" target="_target">
                                <span data-ico="spades"></span>
                                <span>访问控制</span>
                            </a>
                            <a class="topbar-user-entrance" href="javaScript:" target="_target">
                                <span data-ico="bullhorn"></span>
                                <span>accesskeys</span>
                            </a>
                            <a class="topbar-user-entrance" href="javaScript:" target="_target">
                                <span data-ico="podcast"></span>
                                <span>会员权益</span>
                            </a>
                            <a class="topbar-user-entrance" href="javaScript:" target="_target">
                                <span data-ico="feed"></span>
                                <span>会员积分</span>
                            </a>
                            <a class="topbar-user-entrance" href="javaScript:" target="_target">
                                <span data-ico="library"></span>
                                <span>云大使管理</span>
                            </a>
                        </div>
                        <div>
                            <div class="user-btn-list">
                                <a class="user-btn-link" href="javaScript:" target="_self"><span>退出管理控制台</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 左侧菜单 -->
    <div id="sidebar" class="sidebar">
        <div class="sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-inner">
                    <div id="sidebar-toggle" class="sidebar-fold icon-unfold" ng-click="toggleSidebarStatus()">
                        <i data-ico="menu"></i>
                    </div>
                    <div class="sidebar-nav">
                        <div class="sidebar-title sidebar-trans">
                            <div class="sidebar-title-inner">
                                <span data-ico="ctrl" class="sidebar-title-icon"></span>
                                <span class="sidebar-title-text" ng-bind="category.name">组织架构管理</span>
                            </div>
                        </div>
                        <ul class="sidebar-trans">
                            <li class="nav-item">
                                <a href="javaScript:" class="sidebar-trans">
                                    <div class="nav-icon sidebar-trans">
                                        <span data-ico="home2"></span>
                                    </div>
                                    <span class="nav-title">组织综合管理&nbsp;</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javaScript:" class="sidebar-trans">
                                    <div class="nav-icon sidebar-trans">
                                        <span data-ico="office"></span>
                                    </div>
                                    <span class="nav-title">用户管理&nbsp;</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javaScript:" class="sidebar-trans">
                                    <div class="nav-icon sidebar-trans">
                                        <span data-ico="newspaper"></span>
                                    </div>
                                    <span class="nav-title">用户账号管理&nbsp;</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javaScript:" class="sidebar-trans">
                                    <div class="nav-icon sidebar-trans">
                                        <span data-ico="blog"></span>
                                    </div>
                                    <span class="nav-title">组与用户关系定义&nbsp;</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javaScript:" class="sidebar-trans">
                                    <div class="nav-icon sidebar-trans">
                                        <span data-ico="droplet"></span>
                                    </div>
                                    <span class="nav-title">组织维度管理&nbsp;</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar-nav">
                        <div class="sidebar-title sidebar-trans">
                            <div class="sidebar-title-inner">
                                <span data-ico="ctrl" class="sidebar-title-icon"></span>
                                <span class="sidebar-title-text" ng-bind="category.name">系统配置管理</span>
                            </div>
                        </div>
                        <ul class="sidebar-trans" style="max-height: 0px;">
                            <li class="nav-item">
                                <a href="javaScript:" class="sidebar-trans">
                                    <div class="nav-icon sidebar-trans">
                                        <span data-ico="image"></span>
                                    </div>
                                    <span class="nav-title">租用机构管理</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javaScript:" class="sidebar-trans">
                                    <div class="nav-icon sidebar-trans">
                                        <span data-ico="camera"></span>
                                    </div>
                                    <span class="nav-title">菜单管理&nbsp;</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="javaScript:" class="sidebar-trans">
                                    <div class="nav-icon sidebar-trans">
                                        <span data-ico="music"></span>
                                    </div>
                                    <span class="nav-title">功能模块注册&nbsp;</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% if (entrance_script) { %>
        <script src="<%= entrance_script %>"></script>
    <% } %>
</body>
</html>