<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>gantt</title>
    <link rel=stylesheet href="../component_modules/jQueryGantt/platform.css">
    <link rel=stylesheet href="../component_modules/jQueryGantt/libs/jquery/dateField/jquery.dateField.css">
    <link rel=stylesheet href="../component_modules/jQueryGantt/gantt.css">
    <link rel=stylesheet href="../component_modules/jQueryGantt/ganttPrint.css" media="print">
    <link rel=stylesheet href="../components/gantt/index.css">
</head>
<body>
    <div id="ganttwrap" class="gantt"></div>
    <script src="../dist/bundle.js"></script>
</body>
</html>